.weather__navbar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    flex-wrap: wrap;
}

.weather__input__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navbar__input {
    position: relative;
    left: 50px;
    width: 70%;
}

::placeholder {
    color: #7B8080;
    font-size: 1.5em;
}

.navbar__searchIcon {
    position: relative;
    left: 41px;
    padding: 31px;
    background-color: #829F9A;
}

.navbar__cities__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
}

.cities {
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    justify-content: space-evenly;
    color: #899392;
}